@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-900);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 0 30px;
}

.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey-800);
    padding: 40px 50px;
    border-radius: 15px;
}

.profile-info, .links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 90px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-info p {
    margin-top: 0.75em;
}

h1 {
    font-size: 1.75em;
    margin-bottom: 0px;
    font-weight: 400;
}

.location {
    color: var(--green);
    margin-bottom: 1.5em;
    font-size: 0.95em;
    font-weight: 600;
}

.links {
    margin-top: 15px;
    width: 100%;  
}

.links ul {
    list-style: none;
    width: 100%;
}

.links a {
    display: block;
    text-decoration: none;
    background-color: var(--grey-700);
    color: var(--white);
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    margin: 1em 0;
    padding: 15px 0;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.2s ease, color 0.2s ease;
}

.links a:hover{
    background-color: var(--green);
    color: var(--grey-800);
    cursor: pointer;
    transform: scale(1.05);  
    font-weight: 700;
}

.links a:active {
    background-color:hsl(75, 94%, 87%);
    color: hsl(0, 0%, 42%);
    transform: scale(1); 
}

footer {
    margin-top: 20px;
}

.attribution p, .attribution a {
    margin: 10px 0;
    color: hsl(0, 0%, 20%);
    text-decoration: none;
    font-size: 0.90em;
    text-align: center;
    display: none;
}

@media (max-width: 375px) {
    .container {
        min-width: 350px;
        width: 80%;
    }
}
